<div class="navbar-container">
    <nav class="navbar">
        <a href="/">Home</a> |
        <a href="/difficulty">Difficulty</a> |
        <a href="/scores">Scores</a> |
        <a href="/add">Add/Delete Emoji</a> 
    </nav>
</div>