<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Difficulty</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="image-difficulty">
        <img
            class="memory-pic"
            src="images/level.png"
            alt="happy fruit salad bowl"
        />
    </div> 
    <div class="difficulties-page">
        <a class="enter" href="/easy">Easy</a>
        <a class="enter" href="/medium">Medium</a>
        <a class="enter" href="/hard">Hard</a>
    </div>
</body>
</html>